@font-face {
  font-family: 'Gotham';
  src: url('./font/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./font/GOTHAM-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./font/GOTHAM-BLACK.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}


:root {
  --purple: #5E4BE6;
  --pink: #A4446C;
  --gold: #F5C946;
  --green: #6B8F48;
  --blue: #00808D;
  --gray: #A6A6A6;
  --bg-dark: #1f1f1f;
}

body {
  margin: 0;
  font-family: 'Gotham', Arial, sans-serif;
  background: var(--bg-dark);
  color: white;
  -webkit-font-smoothing: antialiased;
}

button, input, textarea, select {
  font-family: inherit;
}

.screen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:24px;
}

.title {
  font-weight:700;
  margin:6px 0 10px;
  font-size:18px;
}
.subtitle {
  color:var(--muted); 
  font-size:14px; 
  font-style: italic;
  padding-top: 15px;
}

.card {
  background: white;
  color: black;
  width:100%;
  max-width: 320px;
  min-height: 320px;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  z-index: 10;
  box-sizing: border-box;
}

.footer-small{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #888; 
  font-size: 12px;
}

.terms{
  font-size:13px; 
  color:#666;
  display: flex; 
  gap:8px;
  align-items:center;
  justify-content:left;
  margin-top:12px;
}


.btn-primary {
  background: var(--purple);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
}

.input {
  border: 1px solid var(--pink);
  border-radius: 10px;
  padding: 8px;
  margin: 6px 0;
  width: 90%;
  font-size: 13px;
}

.input::placeholder {
  color: var(--pink);
  opacity: 1;
}
.input:focus {
  border-color: var(--purple); 
  outline: none;       
}

.input:focus::placeholder {
  color: transparent;    /* Rende il testo completamente trasparente */
}

.camera-wrap {
  width:100%;
  height:580px;
  max-height:78vh;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.webcam-area {
  position:relative;
  width:100%;
  height:480px;
  border-radius:12px;
  overflow:hidden;
  background:#111;
  display:flex;
  align-items:center;
  justify-content:center;
}

.webcam-area video {
  transform: none !important;
}

.face-oval {
  position:absolute;
  top:40px;
  left:50%;
  transform:translateX(-50%);
  width:65%;
  height:68%;
  border-radius:50%;
  border:3px dashed var(--pink);
  pointer-events:none;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.25);
}

.capture-btn {
  width:56px;
  height:56px;
  border-radius:50%;
  background:var(--purple);
  display:inline-block;
  border:4px solid white;
  position:relative;
  cursor:pointer;
  margin:14px auto 0;
}

.loader {
  border: 4px solid #444;
  border-top: 4px solid var(--purple);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 3s linear infinite;
  margin: auto;
}


@keyframes spin {
  100% { transform: rotate(360deg); }
}

.result-box {
  width: 75%;
  height: 55%;
  border: 4px solid;
  margin: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.photo-box {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-info {
  margin-top: 15px;
  font-size: 13px;
  opacity: 0.9;
}

.tier-logo {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 280px;
  opacity: 0.85;
  z-index: 1;
}
